.button {
  padding: 7px 8px;
  min-width: 60px;
  font-size: 0.75rem;
  min-height: 30px;
  cursor: pointer;
  outline: none;
  background-color: #10c225;
  border: none;
  border-radius: 13px ;
  text-transform: uppercase;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  &:hover {
    background-color: #0ca51e;
  }
}
.inaccessible{
  color: rgb(230, 22, 22);
  text-transform: uppercase;
  font-size: .7rem;
  line-height: 2rem;
}