.container {
  display: flex;
  justify-content: space-between;
  height: 180px;
  margin: 20px;
  box-shadow: 0 0 0 2px #8b0202, 0 0 5px 2px #8f8686;
  padding: 15px;
  color: #ececec;
  background-color: #535353;
  position: relative;
}

.posterContainer {
  box-shadow: 0 1px 5px 0 rgba(255, 255, 255, 0.2),
  0 2px 2px 0 rgba(255, 255, 255, 0.14), 0 3px 1px -2px rgba(255, 255, 255, 0.12);
  flex: 0 0 200px;
  align-self: stretch;

  .filmPoster {
    width: 100%;
    height: 100%;
  }
}

.infoContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 24px;
  overflow: hidden;

  h3 {
    color: white;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0.35em;
  }

  .releaseDate {
    font-style: italic;
  }

  p {
    font-size: 0.65rem;
  }
}

.sideContainer{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid white;
  padding: 0 24px;
}
