    .container {
    display: flex;
    align-items: center;
    font-size: 0.52rem;
    img {
      height: .65rem;
    }
  }

  .duration {
    color: #2196f3;
    margin-left: 5px;
    line-height: 1.7;
  }

