.container {
  // padding: 5px;
  padding: 5px;
  border: 1px solid red;
  position: absolute;
  display: flex;
  top: -20px;
  left: 10px;
  border-radius: 4px;
  // color: rgba(0,0,0,.65);
  line-height: 1.5;
  min-width: 100px;
  margin: 0;
  background-color: #2e302d;
  // min-height: 30px;
}

.message {
  font-size: .65rem;
  // color: rgba(0,0,0,.85);
  display: block;
  // margin-bottom: 4px;
}

.icon {
  height: .85rem;
  width: .85rem;
  // position: absolute;
  padding-right:.85rem;
}

.success {
  border: 1px solid #b7eb8f;
  color: #92e242;
  // background-color: #2e302d;
}

.error {
  border: 1px solid #ffa39e;
  color: #ffa39e;

  // background-color: #fff1f0;
}

.warning {
  border: 1px solid #ffe58f;
  color: #ffe58f;

  // background-color: #fffbe6;
}

.info {
  border: 1px solid #91d5ff;
  color: #91d5ff;

  // background-color: #e6f7ff;
}