:global {
  body {
    background-color: #e7e7e7;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  }
}

.container {
  display: flex;
  max-width: 1250px;
  flex-wrap: wrap;
  margin: 2% auto;
}

